.editor {
  outline: none;
  display: grid;
  grid-template: 1fr / 1fr;
  position: relative;
  width: 100%;

  :global(.line) {
    display: inline-block;
    width: 100%;
    padding: 0 1.6rem;
    margin: 0 -1.6rem;
  }

  :global(.shiki) {
    background-color: transparent !important;
  }
}

.textarea,
.highlighter {
  outline: none;
  font-family: var(--pepino-font-family), monospace !important;
  white-space: pre-wrap;
  grid-area: 1 / 1 / 2 / 2;
  background-color: transparent !important;

  :global(code) {
    font-family: var(--pepino-font-family), monospace !important;
    line-height: 1.5;
    font-size: 1.5rem;
  }
}

.textarea {
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 1.5;

  background: transparent;
  color: transparent;
  caret-color: var(--pepino-foreground);
  caret-shape: block;
  text-size-adjust: none;
}
