.switch {
  position: relative;
  display: inline-block;
  width: 4.4rem;
  height: 2.4rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: var(--foreground);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(2rem);
}

/* Rounded slider */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 100%;
}
