.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &.loading {
    visibility: hidden;
  }
}

.windowContainer {
  padding-top: 4rem;
  padding-bottom: 14rem;
}
