.container {
  padding: 2rem;
  background: var(--background-surface);
  border: var(--border-color) 0.1rem solid;
  display: flex;
  justify-content: space-between;
  border-radius: 0.8rem;
  gap: 2rem;
}

.wrapper {
  position: fixed;
  bottom: 2rem;
  z-index: 1;

  display: flex;
  gap: 2rem;
  align-items: center;

  transform: translate(-50%, 0);
  left: 50%;
}
