.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &.loading {
    visibility: hidden;
  }
}

.tauri {
  position: fixed;
  z-index: 2;
  height: 3rem;
  width: 100%;
  left: 0;
  top: 0;
}

.frameSpacing {
  margin-top: 4rem;
  padding-bottom: 14rem;
}
